@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Scoped</h1>
<div>@ViewBag.Message1</div>
<div>@ViewBag.Message2</div>
<br/>

<h1>Transient</h1>
<div>@ViewBag.Message3</div>
<div>@ViewBag.Message4</div>
<br/>

<h1>Singleton</h1>
<div>@ViewBag.Message5</div>
<div>@ViewBag.Message6</div>
<br/>